# Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

# Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [2]:
totalPlayers = purchase_data["SN"].nunique()

total_players_df = pd.DataFrame({"Total Players": [totalPlayers]})

total_players_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:

UniqueItemCount = purchase_data["Item Name"].nunique()
AvgPrice = round((purchase_data["Price"].mean()), 2)
NumPurchases = len(purchase_data)
TotalRevenue = purchase_data["Price"].sum()

#adds commas per thousands
TotalRevenue = "{:,}".format(TotalRevenue)


#constructs output dataframe
PurchAnalysis_df = pd.DataFrame({"Number of Unique Items": [UniqueItemCount],
                                 "Average Price": [f"${AvgPrice}"],
                                 "Number of Purchases": [NumPurchases], 
                                 "Total Revenue": [f"${TotalRevenue}"]})

PurchAnalysis_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
purchase_data_uniquePlayers = purchase_data.drop_duplicates("SN")

TotalGender_df = pd.DataFrame(purchase_data_uniquePlayers.groupby("Gender").count().sort_values(["Purchase ID"], ascending = False).iloc[:,0])
TotalGender_df = TotalGender_df.rename(columns={"Purchase ID": "Total Count"})

#creates a list of all the values in the count column and divides by the total * 100 to return percentage
TotalGender_df["Percentage of Players"] = (TotalGender_df[0:3].values / TotalGender_df.sum()[0] * 100)

#Formats every value in the Percentage of Players to 2 decimal
TotalGender_df["Percentage of Players"] = ["{:.2f} %".format(number) for number in TotalGender_df["Percentage of Players"]]

#prints output
TotalGender_df

                       Total Count Percentage of Players
Gender
Male                           484               84.03 %
Female                          81               14.06 %
Other / Non-Disclosed           11                1.91 %

## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [51]:
#Creates the Purchase count dataframe
Purchase_count_df = pd.DataFrame(purchase_data.groupby("Gender").count().iloc[:,0])
Purchase_count_df = Purchase_count_df.rename(columns={"Purchase ID": "Purchase Count"})

#Creates the Average purchase price data frame
Average_purchase_price_df = pd.DataFrame({"Average Purchase Price": round((purchase_data.groupby("Gender").mean()), 2).iloc[:,3]})
Average_purchase_price_df["Average Purchase Price"] = Average_purchase_price_df["Average Purchase Price"].map("${:,.2f}".format)


#Creates the Total Purchase value and Avg Total Purchase per Person dataframes
PersonCount_df = pd.DataFrame(purchase_data_uniquePlayers.groupby("Gender").count().iloc[:,0])

Tot_pur_val_df = pd.DataFrame(purchase_data.groupby("Gender").sum().iloc[:,3])
Tot_pur_val_df["Avg Total Purchase per Person"] = Tot_pur_val_df["Price"].values / PersonCount_df["Purchase ID"].values
Tot_pur_val_df = Tot_pur_val_df.rename(columns = {"Price": "Total Purchase Value"})

#Formats both columns with $ and thousandths (,)
Tot_pur_val_df = Tot_pur_val_df.applymap("${:,.2f}".format)


#Stores the three dataframes in a list
dataframes = [Purchase_count_df, Average_purchase_price_df, Tot_pur_val_df]

#Creates a new data frame by concatenating the dataframes in order of the list
Purch_Analysis_Gender_df = pd.concat(dataframes, axis = 1, join_axes = [Purchase_count_df.index])

#output
Purch_Analysis_Gender_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [49]:
purchase_data_unique = purchase_data_uniquePlayers

age_bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]
age_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

purchase_data_unique["Age Category"]= pd.cut(purchase_data_uniquePlayers["Age"], age_bins, labels = age_labels)

age_demo_df = pd.DataFrame({"Total Count": purchase_data_uniquePlayers.groupby("Age Category").count().iloc[:,0]})

age_demo_df["Percentage of Players"] = [round((x / age_demo_df["Total Count"].sum() * 100), 2) for x in age_demo_df["Total Count"].values]

age_demo_df

C:\Users\Llobo\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

              Total Count  Percentage of Players
Age Category
<10                    17                   2.95
10-14                  22                   3.82
15-19                 107                  18.58
20-24                 258                  44.79
25-29                  77                  13.37
30-34                  52                   9.03
35-39                  31                   5.38
40+                    12                   2.08

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [50]:
age_bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]
age_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

purchase_data_age = purchase_data

purchase_data_age["Age Category"] = pd.cut(purchase_data["Age"], age_bins, labels = age_labels)

#Creates initial dataframe with purchase count
purchase_data_age_df = pd.DataFrame({"Purchase Count": purchase_data_age.groupby("Age Category").count().iloc[:,0]})

#creates second dataframe holding the prices

##cleaner dataframe to work from
purchase_data_age2 = purchase_data_age[["Price", "Age Category"]]

##constructs first two columns
age_price_df = pd.DataFrame({"Average Purchase Price": purchase_data_age2.groupby("Age Category").mean().iloc[:,0], 
                             "Total Purchase Value": purchase_data_age2.groupby("Age Category").sum().iloc[:,0]})

##constructs third column
age_price_df["Avg Total Purchase per Person"] = [a / b for a, b in zip(age_price_df["Total Purchase Value"].values, age_demo_df["Total Count"].values)]

##applies formatting
age_price_df = age_price_df.applymap("${:,.2f}".format)

#sets the list of dataframes to concatenate
dataframes = [purchase_data_age_df, age_price_df]

#Concatenates both dataframes
purchase_data_age_df = pd.concat(dataframes, axis = 1, join_axes = [purchase_data_age_df.index])

#output
purchase_data_age_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Category,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame